
body {
    background-color: #EBE9E1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Rubik", sans-serif;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #EFB11D;
    margin: 0;
    padding: 20px 0;
}

header a {
    color: #EBE9E1;
}

header nav {
    color: #D6536D;
}

main {
    flex: 1;
}

h1 {
    color: #EBE9E1;
}

h2 {
    color: #E43D12;
}

a {
    color: #EBE9E1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #EFB11D;
    color: #D6536D;
    padding: 20px 0;
}