<nav class="footer">
    <a href="https://webpages.charlotte.edu/akhlim/">CLT Webpage</a> &nbsp;| &nbsp;  
    <a href = "https://adriankusa.github.io/"> GitHub Home Page</a> &nbsp; | &nbsp;
    <a href = "https://adriankusa.github.io/itis3135"> GitHub.io</a> &nbsp; | &nbsp;
    <a href="https://www.linkedin.com/in/adriankhlim/"> LinkedIn </a>
</nav>

<p class="footer">Designed by Adrian Khlim, <a href="https://www.freecodecamp.org/certification/adriankhlimuncc/responsive-web-design">Certified in Responsive Web Design</a></p>
<p class ="footer"><a href="../ajkenterprise.com">A JORDAN KHLIM ENTERPRISE© 2025</a></p>

