
<nav class="footer">
    <a href = "itis3135/"> Click to go to ITIS3135 Site</a> &nbsp;| &nbsp;  
    <a href = "https://adriankusa.github.io/"> GitHub Home Page</a> &nbsp; | &nbsp;
    <a href = "https://adriankusa.github.io/itis3135"> GitHub ITIS3135 Course Page</a> &nbsp; | &nbsp;
    <a href="https://www.linkedin.com/in/adriankhlim/"> LinkedIn </a>
</nav>

<p class="footer">Designed by Adrian Khlim, <a href="https://www.freecodecamp.org/certification/adriankhlimuncc/responsive-web-design">Certified in Responsive Web Design</a></p>
<p class ="footer"><a href="../ajkenterprise.com">A JORDAN KHLIM ENTERPRISE© 2025</a></p>
